/* Card Section */
.cardSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
}

/* Card */
.workshopCard {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
 }

 .cardTitle {
    font-size: 20px;
    margin: 5px;
    padding: 0;
 }

 .cardSubject {
    font-size: 15px;
    margin: 5px;
 }

 .cardDesc {
    font-size: 12px;
    margin: 5px;
 }