.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: white;
    color: white;
    border-bottom: 1px solid #e0e0e0; /* A light grey solid border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* A subtle bottom shadow */
}

.logo {
    display: flex;
    padding-left: 10px;
    background-color: white;
    outline: none;
}

a {
    background-color: white;
    text-decoration: none;
}

#ypstemLogo {
    height: 50px;
    align-self: center;
    margin-right: 5px;
}

#logoName {
    color: black;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#searchBar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 600px;
    height: 40px;
    border: 1;
    border-color: #1f3850;
    border-style: solid;
    border-radius: 25px;
    padding-left: 20px;
    flex: 1;
    margin-left: 50px;
    margin-right: 30px;
}

.topButtons {
    width: auto;
    height: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.headerButton {
    margin-top: 0px;
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80px;
    height: 40px;
    margin-right: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

.headerButton:hover {
    color: #1f3850;
    border-color: #1f3850;
    cursor: pointer;
    transition: .2s;
}