.loginPage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px;
    background-color: #faf6f4;
    margin-top: 1px;
    padding-bottom: 120px;
    padding-top: 50px;
    align-items: center;
}