/* Home CSS */
.homePage {
    display: flex;
    flex-direction: column;
}

/* Div Class for each section */
.homeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.welcomeSection {
    color: white;
}