*, * ::before, *::after {
    box-sizing: border-box;
}

.image {
    object-fit: cover;
    width: 100%;
    display: block;
    position: relateive;
}

.sliderButton {
    background-color: white;
    border: 1px solid;
    border-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.sliderButton:hover {
    background-color: rgb(138, 138, 138);
    transition: background-color 100ms ease-in-out;
}