/* Header */
.workshop_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 2px solid black;
    background-color: white;
    color: black;
    margin-top: 5px;
}

.workshopName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.workshopInfo {
    padding-left: 10px;
}

.rightHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinButton {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: #1f3850;
    margin-top: 15px;
    margin-bottom: 10px;
}

.joinButton:hover {
    cursor: pointer;
}

/* Body */
.contentBody {
    padding-left: 60px;
    padding-right: 60px;
}